/* body and html */
body{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(165, 173, 198);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* main */
.main{
    height: 95vh;
    width: 85vw;
    border-radius: 25px;
    overflow: hidden;
}
    .top, .middle, .bottom{
        width: 100%;
    }
/* top */
.top{
    height: 20%;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .title{
        font-size: 3vw;
        font-family: 'Courier New', Courier, monospace;
    }
/* middle */
.middle{
    height: 50%;
    background-color: azure;
    display: flex;
}
    .schematic, .plot{
        height: 100%;
        width: 50%;
        flex: 1;
        position: relative;
    }
    #schematic{
        height: 100%;
        width: 100%;
    }
        .toggle.pause{
            position: absolute;
            bottom: 0;
            right: 0;
        }
    #plot{
        height: 100%;
        width: 100%;
    }
/* bottom */
.bottom{
    height: 30%;
    background-color: aquamarine;
    display: flex;
}
    .equation, .controls{
        height: 100%;
        width: 50%;
        flex: 1;
    }
    .equation{
        background-color: aliceblue;
        font-size: 3vw;
        overflow: scroll;
    }
    .controls{
        background-color: rgb(37, 76, 109);
        display: flex;
    }
        .control_1, .control_2, .control_3{
            height: 100%;
            flex: 1;
        }
            .control_template{
                width: 100%;
                height: 33.33%;
                /* display: grid;
                grid-template-areas:
                'title title title'
                'range range field'; */
            }
                .control_title, .control_range, .control_field, .control_option, .control_switch{
                    height: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .control_title{
                    /* grid-area: title; */
                    width: 100%;
                    background-color: coral;
                    /* font-size: 1vw; */
                }
                .control_range{
                    /* grid-area: range; */
                    float: left;
                    width: 75%;
                    background-color: black;
                }
                .control_field{
                    /* grid-area: field; */
                    float: left;
                    width: 25%;
                    background-color: floralwhite;
                }
                    #dt_text:hover{
                        cursor: no-drop;
                    }
                input, select, .toggle{
                    width: 75%;
                }